{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}



    {% block title %}
            {{ recipe_object.title }} -Scrumptious Recipes
    {% endblock title %}

    {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
                {% comment %} <a href="C:\Users\jasmi\hack-reactor\projects\recipe-web-pages\list.html">Main Page</a> {% endcomment %}
            </nav>
        </header>
        <main>
            <h1>
                {{ recipe_object.title }}
            </h1>
            <img src="{{ recipe_object.picture }}">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
            <h2>Ingredients</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                            <tr>
                                <td>{{ ingredient.amount }}</td>
                                <td>{{ ingredient.food_item }}</td>
                            </tr>
                        {% endfor %}
                        {% comment %} <tr >
                            <td>3 ears</td>
                            <td>Fresh corn</td>
                        </tr>
                        <tr >
                            <td>2 cups</td>
                            <td>tamatillo salsa</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Fresh corn</td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
            <h1>Steps</h1>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li> {{ step.instruction }} </li>
                {% endfor %}
            </ol>
        </main>
    {% endblock content %}
