{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}


    {% block title %}
            {{ recipe_object.title }} -Scrumptious Recipes
    {% endblock title %}

    {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                {% comment %} <a href="C:\Users\jasmi\hack-reactor\projects\recipe-web-pages\list.html">Main Page</a> {% endcomment %}
            </nav>
        </header>
        <main>
            <h1>Edit {{ recipe_object.title }}</h1>
            <form method="post">
              {% csrf_token %}
              {{ recipe_form.as_p }}
              <button>Save</button>
            </form>
        </main>
    {% endblock content %}
