{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}



    {% block title %}
        Scrucptious Recipes
    {% endblock title %}
    {% block content %}
            <header>
                <nav>
                    <a href="{% url 'recipe_list' %}">Main page</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_recipe' %}">Create a recipe</a>
                    <a href="{% url 'my_recipe_list' %}">My recipes</a>
                    {% comment %} <a href="{% url 'edit_recipe' %}">Edit a recipe</a> {% endcomment %}
                    {% comment %} <a href = "C:\Users\jasmi\hack-reactor\projects\recipe-web-pages\list.html">Main Page</a> {% endcomment %}
                    {% else %}
                        <a href="{% url 'signup' %}">Sign up</a>
                        <a href="{% url 'user_login' %}">Login</a>

                    {% endif %}

                    {% if user.is_authenticated %}
                        Hello, {{ user.username }}
                        <a href="{% url 'user_logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %}">Sign up</a>
                        <a href="{% url 'user_login' %}">Login</a>
                    {% endif %}


                </nav>
            </header>
            <main>
                <h1>Scrumptious Recipes</h1>
                <h2>All the food that's fit to eat</h2>
                <div class = "grid">
                    {% for recipe in recipe_list %}
                    <div>
                        <h3>
                            <a href= "{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                            <p>{{ recipe.created_on|date:"d, M, Y" }}</p>
                        </h3>
                        <img src="{{ recipe.picture }}">
                        <div>4.3 stars</div>
                    </div>
                    {% endfor %}
            </main>
    {% endblock content %}
