/* *{
    padding: 0;
    margin:0;
    box-sizing: border-box;

} */

/* body{
    /* position: absolute;
    left: 150px;
    width: 80%; */
    /* margin-left: 20%;
    margin: 0 auto; */
/* } */

main{
    position: absolute;
    left: 30px;
    right: 10px;
    width: 90%;
    margin-bottom: 70px;
}
nav {
    margin-bottom: 70px;
    padding: 1em;
    border-bottom: solid;
    border-color: grey
}
h1{
    border-style: outset;
    border-color: rgb(28, 179, 108);
    background-color: rgb(41, 122, 68);
    color:white
}

.grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 20%;
}

.link-item {
    display:grid;
    grid-template-columns: repeat(1,1fr);

}

a {
    padding-top: 10%;
    padding-bottom: 10%;
    text-decoration: none;
    color: black
}

img {
    width: 50%
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    background-color: rgb(135, 177, 135);
    color: rgb(20, 20, 20);
    text-align: left;
}


/* .item-grid {
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 1/2; */


/* } */
tr:nth-child(even){
    background-color: rgb(109, 102, 102)
}

/* td {
    display:grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
} */
